
nav ul{
    list-style: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background: black;
    overflow: hidden;
}

nav ul li a{
    color: white;
    text-decoration: none;
    padding: 10px 10px;
    display: block;
}

ul> li {
    float: left;
}

.nav li a:hover{
    background-color:#434343 ;
}

